# BLACKLIST everything
*

# WHITELIST project config
!config/
!config/**/
!config/**/*.py
!config/**/*.yml

# WHITELIST source files
!src/
!src/**/
!src/**/*.py
!src/**/*.md
!src/**/*.txt
!src/**/*.pro
!src/**/*.ipynb

# WHITELIST data files
!data/
!data/**/
!data/**/*.txt

# BLACKLIST Python cache
**/__pycache__/

# BLACKLIST hidden directories
**/.*/

# WHITELIST standard files
!.gitignore
!pyproject.toml
!LICENSE
!README.md
